{% load static %}
{% include 'app1/base.html' %}
{% include 'app1/navbar.html' %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>


<style>
  body {
    text-align: left;
        }
  form {
    display: inline-block;
    margin: 0 0 0 120px;
        }
  label{
    font-size:18px;
       }
</style>
<br><br><br><br>
<form action="" method="POST">
    {% csrf_token %}
    <div class="form-group row">
    <label class="col-sm-2 col-form-label" style="font-size:18px">Title/Position</label>
    <div class="col-sm-8">
      <input type="text" style="margin-left:200px" name="position"  class="form-control" placeholder="Job title" required>
        <br>
    </div>
    </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label" style="font-size:18px">Company/Workplace</label>
    <div class="col-sm-8">
      <input type="text" style="margin-left:200px" name="company" class="form-control" placeholder="Company" required>
        <br>
    </div>
    </div>
    <label>Job started:</label>
      <input type="date" name="job_started" required>&nbsp&nbsp&nbsp&nbsp&nbsp
    <label>Job completed:</label>
      <input type="date" name="job_completed" required>
    <br><br>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label" style="font-size:18px">Job&nbspresponsibilities</label>
    <div class="col-sm-8">
      <input type="text" style="margin-left:200px" name="responsibilities" class="form-control" placeholder="Job responsibilities (optional)" >
        <br>
    </div>
    </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label" style="font-size:18px">Achievements</label>
    <div class="col-sm-8">
      <input type="text" style="margin-left:200px" name="achievements" class="form-control" placeholder="Accomplishment (optional)">
        <br>
    </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" style="margin-left:200px" class="btn btn-primary">Next</button>&nbsp&nbsp&nbsp&nbsp&nbsp
          <button class="btn btn-primary"><a href="{% url 'experience' %}" style="color:white">Add more experience</a></button>
      </div>
  </div>
</form>
<br><br><br><br>



{% include 'app1/footer.html' %}